body {
    background: 
        linear-gradient(135deg, #BDE6E2 0%, #F8F8F8 50%, #3B82F6 100%),
        url('../assets/backgrounds/main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.traversing-image {
    position: absolute;
    top: 80%;
    left: 0;
    width: 95%;
    height: auto;
    max-height: 100vh;
    transform: translateY(-50%);
    z-index: -1;
}

/*-------------------------------------------
Header
-------------------------------------------*/

header{
    width: 100%;
    text-align: center;
}

header h1{
    font-weight: 700;
    color: var(--primary);
}

header h2{
    font-size: 2vw;
}

header p{
    max-width: 35%;
    margin: 0 auto;
    color: rgb(55 65 81);
    font-weight: 400;
}

header p span{
    color: var(--accent);
    font-weight: bold;
}



/*-------------------------------------------
Formulaire
-------------------------------------------*/


main div:nth-child(1) {
    width: 30%;
    background-color: var(--card);
    padding: 2rem;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    margin: 0 auto;
    box-shadow: 5px 5px 15px var(--muted-foreground);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../assets/backgrounds/main.png");
    background-size: cover;
}

main form{
    display: flex;
    flex-direction: column;
}

main form label{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.75rem;
    color: rgb(27 44 72);
    font-family: 'Poppins';
}

main form input{
    padding: 0.350rem;
    border-radius: 0.8rem;
    border-color: #3B82F6;
    font-size: 0.8rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    margin-top: 1vh;
}

button{
    font-weight: 600;
    font-size: 1.125rem;
    font-family: 'Poppins';
    padding: 0.5rem;
    background-color: var(--foreground);
    color:white;
    border-radius: 12px;
    margin-top: 2vh;
}


/*-------------------------------------------
Bas de carte
-------------------------------------------*/


main div:nth-child(2) p{
    font-size: 0.875rem;
    text-align: center;
}

main div:nth-child(2) .welcomeCodeLosted{
    font-size: 0.775rem;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    margin-top: 3vh
}
main div:nth-child(2) .welcomeCodeLosted a{
    color: var(--muted-foreground);
}



@media only screen and (max-width: 768px) {
    body div:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90%;
    }    
    main div:nth-child(1){
        width: 80vw;
        margin: 0 auto;
    }

    button {
    font-size: 1rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header h2{
        font-size: 8vw;
    }

    header p {
        font-size: 1rem;
    }

    header p {
        max-width: 80%;
    }
    
    .large-icon{
        font-size: 12vw;
    }
    }